/* Estilos generales */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #65A56F;
    color: #fff;
    padding: 10px;
    font-size: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 50px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Botón de iniciar sesión */
  

  .Logo-Header {
    max-width: 100px; /* Ajusta el ancho máximo del logo */
    margin-left: 0;
}

.login-btn {
    padding: 10px 40px; /* Ajusta el padding del botón */
    border: 2px solid white; /* Agrega un borde blanco */
    border-radius: 5px; /* Añade bordes redondeados */
    color: white; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    font-weight: bold;
    font-size: 20px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      text-align: center;
  }

  .navbar a {
      margin: 10px 0; /* Ajustar el margen para pantallas más pequeñas */
  }

  .login-btn {
      padding: 10px 15px; /* Ajustar el padding del botón para pantallas más pequeñas */
  }
}


/* Bienvenido  */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E6E6E6;
  font-family: sans-serif;
  border-left: 5px #65A56F;
}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  
}

.texto{
  /* grid-column: 1 / span 1; */
  border-left: 5px #65A56F;
  position: relative;
  padding-left: 20px;
  border-left: 5px solid #65A56F;
}

.imagen {
  grid-column: 2 / span 1;
  border-left: 5px #65A56F;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.parrafo-body {
  line-height: 2;
  text-align: justify;
  margin-bottom: 1rem;
}

.empezar-btn, .informacion-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.empezar-btn {
  background-color: #65A56F;
  color: #fff;
  margin-right: 1rem;
  width: 25%;
}

.finanzas{
  width: 600px; /* Ancho deseado */
  height: 450px; /* Alto deseado */
}

.informacion-btn {
  background-color: #E6E6E6;
  color: #0073b7;
}
.botones {
  display: flex;
  justify-content: center;
}
